{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
    <meta name="twitter:url" content="{{ SITEURL }}">
    <meta name="twitter:title" content="{{ SITENAME }}">
    <meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

    <!-- Facebook Meta Data -->
    <meta property="og:title" content="{{ SITENAME }}"/>
    <meta property="og:description" content="{{ SIDEBAR_DIGEST }}"/>
    <meta property="og:image" content=""/>
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}
<h1 class="title">{{HOMEPAGE_TITLE}}</h1>
    <p>{{ HOMEPAGE_WELCOME }}</p>
    {% if articles %}
        <ol class="posts">
            {% block heading %}<h2 class="latest">Latest Posts</h2>{% endblock %}
            {% for article in (articles_page.object_list if articles_page else articles) %}
                <li class="post_list"><p class="post_entry">
                    <h2 class="post_title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                                              title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                    </h2>
                Filed Under: <span class="post_category"><a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark"
                                               title="Permalink to {{ article.category|striptags }}">{{ article.category|title }}</a></span>
                &nbsp; &bullet; &nbsp; 
                <span class="post_date">{{ article.date.strftime("%Y/%m/%d") }}</span> 
                &nbsp; &bullet; &nbsp; 
                <span>Tags : </span>
                    {% if article.tags %}
                        {% for tag in article.tags %}
                            <span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></span>
                        {% endfor %}
                    {% endif %}
                    {% if DISPLAY_SUMMARY and article.summary|length > 0 %}
                        <p>{{ article.summary }}</p>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    {% if articles_page and articles_paginator.num_pages > 1 %}
        {% include 'pagination.html' %}
    {% endif %}

{% endblock content %}
