{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
    <h2 class="post_title post_detail">

<ul class="breadcrumb">
    <li class="start"> <a href="{{ SITEURL }}/" title="{{ SITENAME }}">
                 Home
        </a></li>
                      {% for parent in page.parents %}
                        <li><a href="{{ SITEURL }}/{{ parent.url }}">{{
                                parent.title }}</a></li>
                          {% endfor %}
                            <li class="active">{{ page.title }}</li>
</ul></h2>

    <section id="content" class="body">

        {% if PDF_PROCESSOR %}
            <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">
                get the pdf
            </a>
        {% endif %}
        {{ page.content }}
    </section>
{% endblock %}
