/*
 * OLD BLUE: #1DAEDF
 * BORDER BLUE: #328cc7
 * NEW BASE: #AC3C00
 * BORDER ORANGE:  #cc4700
 *
 */

html {
  font-family: 'Open Sans', 'helvetica', sans-serif;
  background: white;
  font-size: 14px;
}

/* Titles */
h1, h2 {
	font-weight: normal;
  margin-top: 5px;
  margin-bottom: 1em;
}

/* Added by charlesr */
.align-right {
    float: right;
}

/*  end   */



.title
{
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 50px;
  text-transform: none;
  color: #AC3C00;
  line-height: 1;
  font-weight: 600;
}

.latest
{-
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.post_detail
{
  font-size: 2em;
  line-height: 1em;
}

.entry-content
{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  color: #333;
}

article section .about
{
  font-size: 18px;
  color: #444;
  text-align: justify;
}

article section .blog-post
{
  font-size: 16px;
}

/* Body */
body {margin: 0}
body > article, footer {
  line-height: 1.6em;
  display: block;
  max-width: 700px;
  margin: 40px auto auto 355px;
  padding: 20px 80px 10px;
}

footer {
    text-align: center;
}

article ol.posts
{
  padding-left: 0;
}

/* Articles */
p.post_entry {
}
article > header {
  list-style-type: none;
  padding: 0px 10px;
  box-shadow: 0 0 0 2px #AC3C00;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}
.article_left > h1 {
  font-size: 20px;
}
.article_right {
  background-color: white;
}
.post_list {
  list-style-type: none;
  padding: 10px 10px;
  -moz-border-radius: 5px 0;
  -webkit-border-radius: 5px 0;
  border-radius: 5px 5px;
}


/* Links */;
a  { color:#AC3C00; text-decoration:none; }
a:visited { color:#AC3C00; text-decoration:none; }
a:link { color:#AC3C00; text-decoration:none; }
a:active { color:#AC3C00; text-decoration:none; }
a:hover { text-decoration: underline; }

/* Code */
.highlight pre {
  font-size: 14px;
  overflow: auto;
  padding: 8px;
}

/* Sidebar */
aside {
  font-size: 14px;
  width: 220px; height: 100%;
  position: fixed;
  top: 0; left: 0;
  padding: 30px;
  background-color: #AC3C00;
  color: white;
  box-shadow: 0 0 3px black;
  text-align: center;
  padding-top: 4%;
  background-size: cover;
}

aside > ul {
  list-style-type: none;
  padding: 0px 10px;
  margin-top: 0px;
}
aside > h2 {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 5px;
}

#avatar {
  width: 100px;
  /*border-radius: 50%;*/
  display: block;
  margin: 0 10px 20px 0;
  box-shadow: 0px 0px 5px 3px #ff9c66;
  -webkit-transition: 200ms;
     -moz-transition: 200ms;
      -ms-transition: 200ms;
       -o-transition: 200ms;
          transition: 200ms;
}

#avatar:hover {
  box-shadow: 0px 0px 5px 3px white;
}

.social
{
  display: inline-block;
  margin-top: 40px;
}

.nav
{
  display: block;
  margin-left: -30px;
  margin-right: -30px;
  border: 1px solid #cc4700;
  margin-top: 40px;
}

.nav > ul > li
{
  font-size: 1.1em;
}
.title {

}

.breadcrumb {
 list-style-type: none;
 display: unset;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li:before {
    content: ">";
    padding-left: 5px;
    padding-right: 5px;
}

.breadcrumb li.start:before {
    content: "";
    padding: 0;
}
.nav a
{
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.nav a:hover
{
    background-color: #cc4700;
}

.list-bare
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-list-bare
{
    list-style: none;
    background-color: #ce7342;
    color: black;
    text-align: left;
    padding-left: 2em;
}

.sub-list-base li {
    padding-left: 1em;
    margin-left: 2em;
}
.sub-list-bare .nav__link {
    padding-left: 1em;
    color: black;
}

.sub-list-bare .nav__link a:hover{
}
.nav__link
{
  display: block;
  padding: 0.77273rem 0;
  border-bottom: 1px solid #cc4700;
}


.blog_roll_link
{
  display: block;
  padding: 0.33147rem 0;
  border-bottom: 3px solid #cc4700;
}


/*--------Responsive------------*/

@media (max-width: 800px) {

  aside {
    left: 0;
    max-width: none;
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
    padding-top: 1px;
  }

  .nav
  {
    margin-left: 0;
    margin-right: 0;
  }

  body > article {
    margin: 0 auto;
    padding-top: 5px;
    padding: 1em;
  }

  footer
  {
    padding: 1em;
    margin-left: 1em;
    margin-top: 0;
  }

  #avatar {
    height: 50px;
    width: 50px;
    margin: 10px auto;
  }
}
img {
 max-width: 100%;
}
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
div.align-center img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.figure p.caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  text-align: center;
  font-style: italic;
  font-size: .85em;
}


div #table-of-contents {
    display: block;
    float: right;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 20px;
    border: 1px;
}



/* --- TABLES ---*/

table.docutils {
    border: 5px;
    border-color: black;
border-collapse: collapse;
}

table.align-center {

    margin-left: auto;
  margin-right: auto;
}

table.docutils caption {
     display: table-caption;
    text-align: center;
    font-size: 1.2em;
    padding-bottom: .2em;
    font-weight: bold;
}

table.docutils th.head {
    background: #bbb;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

table.docutils td {
    padding: 4px;
}
